extends template
block content
	div(class="row")
		div(class="col-sm-12")
		img(src=top_image class="img-responsive" style="width:100%;")
	div(class="row")
		div(class="col-sm-2")
		div(class="col-sm-8")
			p #{page_name}
			hr
			div(class="row")
				div(class="col-sm-4")
					img(src=side_image class="img-responsive" style="width:100%;")
				div(class="col-sm-8")
					div(class="container-fluid")
						p #{description}
						//- add onclick js to hide.show form
						input(type="button" class="btn" id="btn-signup" value="Book Now" onclick="toggleVisability('form-div')") 
						div(id="form-div" class="container-fluid" style="display:none;")
							include form-automated
						hr
						div(class="row")
							div(class="col-sm-6")
								p Availability
								p #{availability}
							div(class="col-sm-6")
								p Pricing
								p #{pricing}
		div(class="col-sm-2")
	iframe(src="https://calendar.google.com/calendar/embed?src=gen9kai518437ib6jc8sq2dsfg%40group.calendar.google.com&ctz=Europe%2FLondon"  width="600" height="400" frameborder="0" scrolling="no")