extends template
block content
	ul(id="whatsOnNav" class="row pt-3 nav nav-tabs justify-content-center" role="tablist")
		li(class="nav-item")
			a(class="nav-link active" data-toggle="tab" href="#childTab" role="tab") Children and Young People
		li(class="nav-item")
				a(class="nav-link" data-toggle="tab" href="#adultTab" role="tab") Adult Activities
	div(class="row pt-2 mx-3")
		div(class="col-12 mx-auto")
			div(class="tab-content text-center")
				div(id="childTab" class="tab-pane fade show active pt-4" role="tabpanel")
					div(class="row b-brand-thin")
						each day, dayIndex in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
							div(class="col-lg p-0")
								table(class="table mb-0")
									thead(class="thead-light")
										tr
											th #{day}
									tbody
										each actID, actIndex in child[dayIndex].activities
											tr
												td
													a(href=`/event/${actID}`) #{getActivityName(actID, activity)}
													p(class="mb-0") #{child[dayIndex].times[actIndex]}
											
				div(id="adultTab" class="tab-pane fade pt-4" role="tabpanel")
					div(class="row b-brand-thin")
						each day, dayIndex in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
							div(class="col-lg p-0")
								table(class="table mb-0")
									thead(class="thead-light")
										tr
											th #{day}
									tbody
										each actID, actIndex in adult[dayIndex].activities
											tr
												td
													a(href=`/event/${actID}`) #{getActivityName(actID, activity)}
													p(class="mb-0") #{adult[dayIndex].times[actIndex]}