extends template

block content
	br
	div(class="row")
		div(class="col-lg-11 mx-auto")
			div(class="d-flex justify-content-center")
				button(class="btn" type="button" id="childTabButton" style="margin-right:5px;") CHILDREN & YOUNG PEOPLE
				button(class="btn" type="button" id="adultTabButton") ADULT ACTIVITIES
			div(id="childTab")
				h1 YOUNG PEOPLE
				table(class="table")
					tr
						th Monday
						th Tuesday
						th Wednesday
						th Thursday
						th Friday
						th Saturday
						th Sunday

					- var rows = 0;
					each day in child
						if rows < day.activities.length
							- rows = day.activities.length
					- var count = 0;
					while count < rows
						tr
							td
								if child[0].activities[count]
									- var activityName = getActivityName(child[0].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{child[0].times[count]}
							td
								if child[1].activities[count]
									- var activityName = getActivityName(child[1].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{child[1].times[count]}
							td
								if child[2].activities[count]
									- var activityName = getActivityName(child[2].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{child[2].times[count]}
							td
								if child[3].activities[count]
									- var activityName = getActivityName(child[3].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{child[3].times[count]}
							td
								if child[4].activities[count]
									- var activityName = getActivityName(child[4].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{child[4].times[count]}
							td
								if child[5].activities[count]
									- var activityName = getActivityName(child[5].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{child[5].times[count]}
							td
								if child[6].activities[count]
									- var activityName = getActivityName(child[6].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{child[6].times[count]}
						- count += 1;

			div(id="adultTab")
				h1 ADULTS
				table(class="table")
					tr
						th Monday
						th Tuesday
						th Wednesday
						th Thursday
						th Friday
						th Saturday
						th Sunday

					- var rows = 0;
					each day in adult
						if rows < day.activities.length
							- rows = day.activities.length
					- var count = 0;
					while count < rows
						tr
							td
								if adult[0].activities[count]
									- var activityName = getActivityName(adult[0].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{adult[0].times[count]}
							td
								if adult[1].activities[count]
									- var activityName = getActivityName(adult[1].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{adult[1].times[count]}
							td
								if adult[2].activities[count]
									- var activityName = getActivityName(adult[2].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{adult[2].times[count]}
							td
								if adult[3].activities[count]
									- var activityName = getActivityName(adult[3].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{adult[3].times[count]}
							td
								if adult[4].activities[count]
									- var activityName = getActivityName(adult[4].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{adult[4].times[count]}
							td
								if adult[5].activities[count]
									- var activityName = getActivityName(adult[5].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{adult[5].times[count]}
							td
								if adult[6].activities[count]
									- var activityName = getActivityName(adult[6].activities[count],activity)
									a(href="/event/"+activityName) #{activityName}
									p #{adult[6].times[count]}
						- count += 1;