extends template

block content
	br
	div(class="row")
		div(class="col-lg-11 mx-auto")
			div(class="d-flex justify-content-center")
				button(type="button", id="childTabButton") CHILDREN & YOUNG PEOPLE
				button(type="button", id="adultTabButton") ADULT ACTIVITIES					
			div(id="childTab")
				h1 YOUNG PEOPLE
				table(class="table")
					tr
						th Monday
						th Tuesday
						th Wednesday
						th Thursday
						th Friday
						th Saturday
						th Sunday

					- var rows = 0;
					each day in child
						if rows < day.activities.length
							- rows = day.activities.length
					- var count = 0;
					while count < rows
						tr
							td
								if child[0].activities[count]
									a(href="/event/") #{child[0].activities[count]}
									p #{child[0].times[count]}
							td
								if child[1].activities[count]
									a(href="/event/") #{child[0].activities[count]}
									p #{child[0].times[count]}
							td
								if child[2].activities[count]
									a(href="/event/") #{child[0].activities[count]}
									p #{child[0].times[count]}
							td
								if child[3].activities[count]
									a(href="/event/") #{child[0].activities[count]}
									p #{child[0].times[count]}
							td
								if child[4].activities[count]
									a(href="/event/") #{child[0].activities[count]}
									p #{child[0].times[count]}
							td
								if child[5].activities[count]
									a(href="/event/") #{child[0].activities[count]}
									p #{child[0].times[count]}
							td
								if child[6].activities[count]
									a(href="/event/") #{child[0].activities[count]}
									p #{child[0].times[count]}
						- count += 1;

			div(id="adultTab")
				h1 ADULTS
				table(class="table")
					tr
						th Monday
						th Tuesday
						th Wednesday
						th Thursday
						th Friday
						th Saturday
						th Sunday
					tr
						td m
						td t
						td w
						td t
						td f
						td s
						td s
					tr
						td m
						td t
						td w
						td t
						td f
						td s
						td s
					tr
						td m
						td t
						td w
						td t
						td f
						td s
						td s