extends ../template
//-showdown converter is passed in by the render function on the server
block content
	div(class="row")
		img(src=top_image class class="by-brand-thin" style="width:100%;height:250px;object-fit:cover;")
	div(class="row mt-5")
		div(class="col-lg-8 mx-auto")
			h3(class="h-underline") #{title}
			div(class="row")
				div(class="col-lg-5")
					//-Has a corresponding function in functions.js for carousel options
					div(id="facility-photos" class="carousel slide b-brand-thin" data-ride="carousel")
						div(class="carousel-inner")
							each img, index in images
								div(class=(index===0)?"carousel-item active":"carousel-item")
									img(src=img style="height:300px; width:100%; object-fit:cover")
						a(class="carousel-control-prev" href="#facility-photos" data-slide="prev" role="button")
							span(class="fa fa-arrow-left text-brand")
						a(class="carousel-control-next" href="#facility-photos" data-slide="next" role="button")
							span(class="fa fa-arrow-right text-brand")
					div !{availability?showdown.makeHtml(availability):"No availability info, please enquire."}
					div !{pricing?showdown.makeHtml(pricing):"No pricing info, please enquire."}
				div(class="col-lg-7")
					div !{description?showdown.makeHtml(description):"No description, please enquire."}
					//- add onclick js to hide.show form
					button(id="btn-book-form" class="btn w-100" type="button" data-toggle="collapse" data-target="#book-form") #{automated?"Book Now ":"Enquire Now "}
						i(class=automated?"fa fa-book":"fa fa-question")
					div(id="book-form" class="collapse")
						if automated
							include form-automated
						else
							include form-manual