extends ../template
block content
	div(class="row")
		img(src=`/uploads/img/${locals.facility.topImage.image.filename}` class="by-brand-thin" style="width:100%;height:250px;object-fit:cover;")
	div(class="row mt-5")
		div(class="col-lg-8 mx-auto")
			h3(class="h-underline") #{locals.facility.title}
			div(class="row")
				div(class="col-lg-5")
					//-Has a corresponding function in functions.js for carousel options
					div(id="facility-photos" class="carousel slide b-brand-thin" data-ride="carousel")
						div(class="carousel-inner")
							each img, index in locals.facility.galleryImages
								div(class=(index===0)?"carousel-item active":"carousel-item")
									img(src=`/uploads/img/${img.image.filename}` style="height:300px; width:100%; object-fit:cover")
						a(class="carousel-control-prev" href="#facility-photos" data-slide="prev" role="button")
							span(class="fa fa-arrow-left text-brand")
						a(class="carousel-control-next" href="#facility-photos" data-slide="next" role="button")
							span(class="fa fa-arrow-right text-brand")
				div(class="col-lg-7")
					div !{locals.facility.description.html}
					//- add onclick js to hide.show form
					button(id="btn-book-form" class="btn w-100" type="button" data-toggle="collapse" data-target="#book-form") #{locals.facility.automated?"Book Now ":"Enquire Now "}
						i(class=locals.facility.automated?"fa fa-book":"fa fa-question")
					div(id="book-form" class="collapse")
						if locals.facility.automated
							include form-automated
						else
							include form-manual
					hr
					div(class="row")
						div(class="col-sm-6")
							h5 Availability
							b Monday - Friday: 
							span !{locals.facility.availabilityWeekday}
							br
							b Saturday: 
							span !{locals.facility.availabilitySaturday}
							br
							b Sunday: 
							span !{locals.facility.availabilitySunday}
							
						div(class="col-sm-6")
							h5 Pricing
							//div !{locals.facility.pricing.html}
							| TODO - load from facility pricelist model
