extend ../template

block content
	div(class="col-lg-8 mx-auto")
		br
		h3(class="h-underline text-uppercase") Facility Hire
		table
			tr
				th
				th Hire Cost Per Hour
				th
					| Hire Cost Per Half Day
					br
					| (Up to 3 hours)
				th
					| Hire Cost Per Full Day
					br
					| (Up to 7 hours)
			- var exceptions = []
			each option in options
				if !exceptions.includes(option.facility.toString())
					- exceptions.push(option.facility.toString())
			each model in facility
				if exceptions.includes(model.id.toString())
					- continue
				- var hour = -1;
				- var half = -1;
				- var full = -1;
				tr
					each price in prices
						if price.facility == model.id
							if price.lengthInHours == 1
								- hour = price.priceInGBP;
							else if price.lengthInHours == 3
								- half = price.priceInGBP;
							else if price.lengthInHours == 7
								- full = price.priceInGBP;
					if hour != -1 && half != -1 && full != -1
						td(class="name") #{model.title}
					if hour != -1
						td(class="item") £#{hour}
					if half != -1
						td(class="item") £#{half}
					if full != -1	
						td(class="item") £#{full}
					- hour = -1;
					- half = -1;
					- full = -1;

		br 
		h3(class="h-underline text-uppercase") Theatre Prices
		table
			tr
				th
				th Hire Cost
			each model in theatre
				tr
					td(class="name") 
						script document.write(!{JSON.stringify(model.description.html)})
					td(class="item") #{model.price}
		br 
		h3(class="h-underline text-uppercase") Annual Membership
		table
			tr
				th
				th Cost
			each model in membership
				tr
					td(class="name") #{model.description}
					td(class="item") #{model.price}
		br 
		h3(class="h-underline text-uppercase") Additional Equipment
		table
			tr
				th Item
				th Cost
			each model in equipment
				tr
					td(class="name") #{model.item}
					td(class="item") #{model.price}
		br 
		h3(class="h-underline text-uppercase") Indoor Activity Fees
		table
			tr
				th 
				th Junior
				th Senior
			each model in indoorActivity
				tr
					td(class="name") #{model.description}
					td(class="item") #{model.junior}
					td(class="item") #{model.senior}
		br 