extends ../template

block content
	div(class="row")
		div(class="col-sm-12")
		img(src=top_image class="img-fluid " style="width:100%;height:250px;object-fit:cover;")
	div(class="row")
		div(class="col-sm-8 mx-auto")
			h1 #{page_name}
			hr
			div(class="row")
				div(class="col-sm-4")
					div(class="image-container")
						div(class="row")
							div(class="col-lg-12 main-image-container img-fluid")
								a(class="fancybox" href=side_image id="facility-gallery-fancybox")
									img(src=side_image id="facility-gallery-image" style="width:100%;max-width:500px;height:350;")
						div(class="row")
							block image-gallery
				div(class="col-sm-8")
					div(class="container-fluid")
					block description
					if button_name === "Learn more"
						a(href=hyperlink target="_blank")
							button(class="btn") #{button_name}
					else
						- var hyperlink = "/booking-enquiry/" + page_name
						a(href=hyperlink target="_blank")
							button(class="btn") #{button_name}
					//-may want to improve style and add to the css file 
					a(href="/whats-on")
						button(class="btn" style="margin:10px;") Return