extends ../template

block content
	- var images = [event.image1.filename,event.image2.filename,event.image3.filename]
	div(class="row")
		img(src=`/uploads/${event.imageTop.filename}` class="img-fluid " style="width:100%;height:250px;object-fit:cover;")
	br
	div(class="row")
		div(class="col-sm-8 mx-auto")
			h1 #{event.name}
			hr
			div(class="row")
				div(class="col-lg-5")
					//-Has a corresponding function in functions.js for carousel options
					div(id="events-photos" class="carousel slide b-brand-thin" data-ride="carousel")
						div(class="carousel-inner")
							each img, index in images
								div(class=(index===0)?"carousel-item active":"carousel-item")
									img(src=`/uploads/${img}` style="height:300px; width:100%; object-fit:cover")
						a(class="carousel-control-prev" href="#facility-photos" data-slide="prev" role="button")
							span(class="fa fa-arrow-left text-brand")
						a(class="carousel-control-next" href="#facility-photos" data-slide="next" role="button")
							span(class="fa fa-arrow-right text-brand")
				div(class="col-sm-7")
					div(class="container-fluid")
					div !{event.description.html}
					if event.url.toString() == ""
						- var hyperlink = "/booking-enquiry/" + event.name;
						a(href=hyperlink target="_blank")
							button(class="btn") Enquire Now
					else
						a(href=event.url target="_blank")
							button(class="btn") Learn More
					//-may want to improve style and add to the css file 
					br
					a(href="/whats-on")
						button(class="btn" style="margin:10px;") Return
